/* foorter code */

.footer-end {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-end- {
  width: 280px;
}

/* foorter code */

/* animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

/* guide page */

.Question {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 30px;
}

.Question_iconWrapper {
  width: 52px;
  height: 52px;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 5px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: var(--cl-border-light);
}

.Answer {
  display: flex;
  margin-top: 20px;
  height: auto;
  border-bottom: 1px solid var(--cl-white);
  padding-bottom: 1rem;
}

.Question_Q {
  color: var(--cl-pr);
  font-size: 20px;
}

.Question_text {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin-left: 1.2rem;
  display: -webkit-flex;
  display: flex;
}

.Answer_text {
  -webkit-flex: 1 1;
  flex: 1 1;
  margin-left: 1.2rem;
  display: -webkit-flex;
  display: flex;
  font-size: 1.1rem;
}

.GuidePage {
  height: auto;
  margin: 20px 10px 10px 10px;
}

/* author footer */

.author {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--cl-border-light);
}

.author-name {
  margin: 0 0 0 0;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  display: none;
  overflow: hidden;
}

.author-img {
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

.author-pc {
  padding-left: 0px;
  padding-right: 0px;
}

/* mobile menu nabar */

.container__PC {
  display: none;
}

.navbar--S {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.container__mobile {
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  min-height: 40px;
}

.mobile__navbar-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-bottom: 0 !important;
  list-style: none;
}

.search-S {
  width: 155px !important;
}

.mobile__navbar-item-home {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 0 !important;
}

.nav-link-- {
  margin-right: 5px !important;
}

.mobile__menu {
  width: 100%;
}

.mobile__menu-list {
  display: block;
  margin-left: 0 !important;
  padding-left: 5px !important;
  list-style: none;
}

.mobile__navbar-item-R {
  display: flex;
  justify-content: right;
  list-style: none;
  padding-left: 0px;
}

.container-fluid- {
  margin-top: 5px;
  padding-left: 0;
}

.mobile__navbar-item {
  width: 120px;
}

.mobile__navbar-item-R-li {
  margin-left: 15px;
  margin-top: 7.5px;
}

.mobile__navbar-item-7 {
  width: 128px;
}

.mobile__menu {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  margin-top: 10px;
}

.mobile__menu-list-2 {
  margin: 15px 0 0 0;
  padding: 0 0 0 0;
  height: 100px;
  list-style: none;
}

/* policy page */

.policy {
  width: 100%;
  height: auto;
}

.wrpaper-policy {
  background-color: var(--cl-border-light);
  height: 200px;
  width: 100%;
  align-items: center;
  text-align: left;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.wrpaper-policy-text {
  color: var(--cl-pr);
  padding-left: 25px;
  font-weight: 600;
}

.wrpaper-policy-text::before {
  content: "";
  color: var(--cl-pr);
  height: auto;
  border: 2px solid;
  left: 0;
  top: 0;
  margin-right: 20px;
}

.nav__wrapper {
  height: 50px;
}

.nav__wrapper-context {
  display: flex;
  border-bottom: 1px solid var(--cl-pr);
}

.nav__wrapper-context-item {
  padding-right: 40px;
  padding-top: 20px;
  text-decoration: none;
  list-style: none;
}

.wrapper-context-item {
  color: var(--cl-pr);
  font-weight: 400;
}

.context-item- {
  cursor: initial;
  list-style: none;
}

.context-item-:hover {
  color: var(--cl-pr);
}

.context-wrpaper {
  margin-top: 70px;
  text-align: center;
}

.context-wrpaper-h2 {
  font-weight: 600;
}

.context-wrpaper-h2-hed {
  margin-top: 60px !important;
}

.context-wrpaper-p {
  text-align: left;
  margin: 30px 30px;
  font-size: 15px;
}

.title-wrpaper {
  font-weight: bold;
  font-size: 18px;
}

.title-wrpaper-chiu {
  font-weight: bold;
  font-style: italic;
}

.context-item--::after {
  content: "";
  display: block;
  position: relative;
  border-radius: 5px;
  top: -12px;
  left: 70px;
  height: 8px;
  cursor: initial;
  width: 8px;
  background-color: var(--cl-pr);
}

/* profile page */

.profile {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  min-height: 100%;
}

.profile__header {
  display: flex;
  box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--bg-body-light);
  border-radius: 8px;
  border: 1px solid var(--cl-border-light);
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 8px;
}

.profile__header-list {
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  flex-direction: column;
  width: 100%;
}

.profile__header--headding {
  min-height: 1px;
  margin: 16px 22px;
}

.profile__header--headding-item1 {
  font-size: 22px;
  margin-bottom: 2px;
}

.profile__header--headding-item2 {
  font-size: 16px;
}

.profile_container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  align-items: center;
}

.profile_container:hover {
  background-color: var(--cl-border-light);
  cursor: pointer;
}

.profile_container-item {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
}

.profile_container:last-child {
  border-bottom: none;
}

.profile_container-item-pass {
  display: row;
}

.author-img-- {
  height: 70px;
  width: 70px;
  border-radius: 70px;
}

.profile_container-img {
  margin-bottom: 0px;
  padding-bottom: 0;
}

.profile_container-list {
  display: row;
  list-style: none;
  padding-left: 0;
}

.profile_container-list-- {
  border-bottom: none;
  padding-bottom: 5px !important;
}

.profile_container-item-- {
  width: 170px;
}

.profile__header-- {
  margin-top: 25px;
}

.font-frofile {
  font-weight: 540;
  font-size: .7rem;
  color: var(--cl-pr);
}

.profile__text {
  letter-spacing: .00625em;
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: 10px;
  line-height: 1.5rem;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: var(--cl-pr);
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;
}

.profile__text1 {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.25rem;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: var(--cl-pr);
  margin: 0 0 8px 0;
  padding: 0;
  text-align: center;
}

.profile__text-pass {
  font-size: 0.9rem;
}

.profile_container-item-pass {
  list-style: none;
  padding-left: 0;
}

/* messeger */

.btn-messer {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, .1);
  border: none;
  align-items: center;
  padding: 6px 0 0 0;
  margin: 0 0 0 0 !important;
  position: relative;
}

.footer-messer {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .2);
  height: 30px;
  cursor: pointer;
}

.footer-messer-p {
  margin-top: 5px;
  font-size: 1rem;
}

.search-messer {
  margin-top: 10px;
}

.header-messer-text {
  color: var(--cl-pr);
  font-size: 1.5rem;
  font-weight: 650;
}

.header-messer-text {
  color: var(--cl-pr);
  font-size: 1.5rem;
  font-weight: 650;
}

.infor__messer-list {
  margin-top: 10px;
  list-style: none;
  padding-left: 0px;
  overflow-y: scroll;
}

.infor__messer-item-text {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px;
}

.infor__messer-item-text-- {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.infor__messer-item-text-item-context {
  display: row;
}

.author-img-meser {
  height: 50px;
  border-radius: 50px;
  width: 50px;
}

.infor__messer-p {
  margin-bottom: 0;
  text-align: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  width: 150px;
}

.infor__messer-p-li {
  height: 50px;
  position: relative;
}

.infor__messer-item-text-item-name {
  font-weight: 450;
  font-size: 1rem;
  text-align: inherit;
  margin-left: 15px;
}

.infor__messer-item-text-item-chat {
  font-size: 0.8rem;
  margin-left: 15px;
}

.mobile__menu-item-3 {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.mobile__menu-item-5 {
  margin-top: 6px;
  margin-left: 6px;
}

.mobile__menu-item-4 {
  margin-right: 5px;
}

.messer_chat-header {
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

.messer_chat-header-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.messer_chat-header-list-name {
  font-size: 16px;
  font-weight: 500;
  text-align: inherit;
}

.author-img-chat {
  height: 35px;
  border-radius: 50px;
  width: 35px;
  margin-right: 10px;
  margin-top: 5px;
  position: relative;
}

.messer_chat-header-item-close {
  cursor: pointer;
}

.messer_chat-container {
  height: 343px;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
}

.messer_chat-footer {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
}

.messer_chat-footer_info {
  margin-top: calc(60px/6);
}

.messer_chat-footer_info-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.messer_chat-header-item-close:first-child {
  margin-right: 15px;
}

.messer_chat-footer_info-item {
  margin-right: 10px;
  cursor: pointer;
}

.messer_chat-container .img_chat {
  width: 280px;
}

.chat-r {
  display: flex;
}

.chat-r .sp {
  flex: 1;
  margin-right: 85px;
}

.chat-l {
  display: flex;
}

.chat-l .sp {
  flex: 1;
  margin-right: 85px;
}

.messer_chat-container .emoji {
  width: 20px;
}

.messer_chat-container .check {
  float: right;
  margin-right: 4px;
  align-content: center;
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 16px;
}

.messer_chat-container .check span {
  font-size: 10px;
  font-weight: 700px;
}

.author-img-chat-mess {
  height: 30px;
  border-radius: 50px;
  position: relative;
  width: 30px;
  margin-right: 8px;
  margin-top: 8px;
}

.bi-check-all {
  align-content: center;
}

.messenger_cricle {
  position: absolute;
  right: 20px;
  bottom: 30px;
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  z-index: 10;
  display: none;
  animation: growth ease-in 0.2s;
  cursor: pointer;
}

.author-img-chat-mess-hidden {
  height: 50px;
  border-radius: 50px;
  width: 50px;
  position: relative;
}

.author-img-chat-mess-hidden:hover {
  height: 52px;
  border-radius: 50px;
  width: 52px;
}

.avatar_activate {
  position: absolute;
  height: 17px;
  width: 17px;
  border-radius: 20px;
  bottom: 0;
  border: 2px solid rgba(255, 255, 255, 0.65);
  right: 0;
  background-color: #40bb0f;
}

/* exam page */

.container_exem {
  height: auto;
  min-height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.container_exem_L {
  width: 100%;
  order: 2;
}

.container_exem_R {
  width: 100%;
  order: 1;
}

.container_exem-center {
  display: flex;
  justify-content: space-between;
}

.container_exem_L h3 {
  text-align: center;
  margin-top: 0px;
  padding-top: 5px;
  font-weight: 600;
  padding-top: 5px;
}

.container_exem-center-list {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0 10px 0px 10px;
}

.container_exem-center-item {
  font-size: 20px;
  font-weight: 700;
}

.overflow-scroll-center {
  height: 71.5%;
}

.overflow-auto-- {
  overflow-y: scroll;
  height: 120px;
}

.examquiz_lined_up {
  margin: 10px;
}

.examquiz_lined_up p {
  font-size: 16px;
  font-weight: 450;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.quiz_lined_up {
  font-size: 16px;
  font-weight: 450;
}

.examquiz_lined_up-list {
  list-style: none;
  padding-left: 0;
}

.examquiz_lined_up-item {
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: 450
}

.L-10px {
  padding-left: 10px;
  padding-top: 3px;
}

.exem_info {
  margin: 15px 0 2px 0px;
}

.img-info-exam {
  height: 100px;
  width: 100px;
}

.exem_info-list {
  display: flex;
}

.exem_info-list-item {
  list-style: none;
  padding: 0 0 0 0;
  margin-bottom: 0;
}

.exem_info-list-item span {
  font-weight: 650;
}

.exem_option1 {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 5px;
  padding-left: 0;
}

.exem_option2 {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
}

.exem_quiz-filter-- {
  display: row;
  list-style: none;
  padding-left: 0;
  align-items: center;
}

.exem_quiz-filter-item {
  flex: 1;
}

.L-30px {
  padding-right: 30px;
}

.exem_quiz-filter-- p {
  margin: 0 0 0 0;
}

.exam_question-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 5px;
}

.exam_question-list:hover {
  background-color: rgba(0, 0, 0, .06);
}

.container_exem-center-list-time {
  padding-left: 0;
  list-style: none;
  display: row;
}

/* .exem_header {
    display: none;
  } */

.show_exem_KQ {
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 4px;
}

.Info_exam {
  height: auto;
  margin-top: 30px;
  border-radius: 5px;
}

.Info_exam h5 {
  padding: 10px;
}

.Info_exam-container {
  display: row;
  justify-content: space-evenly;
}

.form-select-- {
  width: 50%;
}

.footer_info-exam-item {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.footer_info-exam-item2-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  list-style: none;
}

.Info_exam-container {
  padding: 10px 0 15px 0;
}

.Info_exam-container_L {
  padding-right: 20px;
  padding-left: 10px;
}

.img-info-exam-- {
  width: 125px !important;
  height: 140px !important;
}

.Info_exam-container_L {
  display: none;
}

.after_exam_R-container h4 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.after_exam_R-container {
  padding: 0 20px 0 20px;
}

.after_exam_R-container-list {
  display: row;
  justify-content: space-between;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.after_exam_R-container-item {
  padding: 5% 5% 3% 5%;
  margin-top: 20px;
  list-style: none;
  align-items: center;
  text-align: center;
}

/* media */

@media (min-width: 960px) {
  .GuidePage {
    margin: 50px 250px;
  }
  .profile_container-list {
    display: flex;
  }
}

@media (min-width: 1650px) {
  .wrpaper-policy-text {
    margin: 0 250px;
  }
  .nav__wrapper {
    margin: 0 250px;
  }
  .context-wrpaper {
    margin: 50px 250px;
  }
  .nav__wrapper::after {
    width: 1340px;
  }
  .GuidePage {
    margin: 30px 250px;
  }
}

@media (min-width: 800px) {
  .profile_container-list {
    display: flex;
  }
  .profile_container-item-- {
    width: 200px;
  }
  .author-name {
    display: block;
  }
  .author {
    border-bottom: none;
    padding-bottom: 0;
  }
}

@media (min-width: 1700px) {
  .infor__messer {
    right: calc(100% - 88%);
  }
}

@media (min-width: 600px) {
  .messer_chat {
    right: calc(100% - 97%);
  }
}

@media (min-width: 1000px) {
  .Info_exam-container {
    display: flex;
    justify-content: space-between;
  }
  .form-label {
    margin-top: 7px;
  }
  .Info_exam-container_R {
    padding-right: 180px;
  }
  .Info_exam-container_L {
    display: block;
  }
  .exem_quiz-filter-- {
    display: flex;
  }
  .overflow-scroll-center {
    height: 83.5%;
  }
  .overflow-auto-- {
    height: 435px;
  }
  .container_exem-center-list {
    padding-right: 60px;
  }
  .exem_header {
    display: block;
  }
  .container_exem {
    height: auto;
    min-height: auto;
    display: flex;
    flex-direction: unset;
    margin-top: 15px;
  }
  .container_exem_L {
    width: 70%;
    order: 1;
  }
  .container_exem_R {
    width: 30%;
    order: 2;
  }
  .show_exem_KQ {
    display: none;
  }
  .container__mobile {
    display: none;
  }
  .container__PC {
    display: block;
  }
  .q_fall {
    width: 30px;
  }
  .after_exam_R-container-list {
    display: flex;
  }
}

.our-team {
  padding: 15px 0 15px;
  margin: 15px;
  margin-top: 15px;
  background-color: var(--bg-body-light);
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--cl-border-light);
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: var(--cl-thr);
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--cl-thr);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 12px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: var(--cl-pr);
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--cl-sec);
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: var(--cl-thr);
  background-color: #f7f5ec;
}

/* active auto */

.our-team.is-active .picture::before {
  height: 100%;
}

.our-team.is-active .social {
  bottom: 0;
}

.our-team.is-active .picture img {
  box-shadow: 0 0 0 12px #f7f5ec;
  transform: scale(0.7);
}